@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --primary-color: #d1224d;
    --secondary-color: #eb6a6e;
    --white-color: #fff;
    --dark-color: #000;
    --light-color: #666;
    --dim-color: #eee;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}


/* screen of 991px and below */

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .Events .box-container .box img {
        height: auto;
        width: 100%;
    }
}


/* screen of 768 and below */

@media screen and (max-width: 768px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--white-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    /* this is added after the js */
    header .navbar a {
        display: block;
        padding: 1.5em;
        margin: 1rem;
        font-size: 2rem;
        background: var(--dim-color);
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .content h3 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .Events .box-container .box img {
        height: auto;
        width: 100%;
    }

    .order form .inputBox .input {
        width: 100%;
    }
}